.Login {
    background-color: #add374;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 120px;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register {
    border: 0ch;
    margin: 0 auto;
    margin-top: 70px;
    width: 1000px;
    height: 500px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}