<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>0</span></div>
    </div>
    <div class="humberger__menu__widget">

        {% if not user.is_authenticated %}
        <div class="header__top__right__auth">
            <a href="{% url 'user_app:login' %}"><i class="fa fa-user"></i>Login</a>
        </div>
        <div class="header__top__right__auth">
            <a href="{% url 'user_app:register' %}"><i class="fa fa-user"></i>Register</a>
        </div>
        <div class="header__top__right__auth">
            <a href="/admin"><i class="fa fa-user"></i>Admin Login</a>
        </div>
        {% else %}
        <div class="header__top__right__auth">
            <a href="{% url 'user_app:loginsuccess' %}"><i class="fa fa-user"></i>Profile</a>
        </div>
        <div class="header__top__right__auth"> </div>
        <div class="header__top__right__auth">
            <a href="{% url 'user_app:logged_out' %}"><i class="fa fa-sign-out"></i>Logout</a>
        </div>
        {% endif %}
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./shop-grid.html">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i>aha@gmail.com</li>
                            <li>Free Shipping for all Order of 250k</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                        {% if not user.is_authenticated %}
                        <div class="header__top__right__auth">
                            <a href="{% url 'user_app:login' %}"><i class="fa fa-user"></i>Login</a>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="{% url 'user_app:register' %}"><i class="fa fa-user"></i>Register</a>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="/admin"><i class="fa fa-user"></i>Admin</a>
                        </div>
                        {% else %}
                        <div class="header__top__right__auth">
                            <a href="{% url 'user_app:loginsuccess' %}"><i class="fa fa-user"></i>Profile</a>
                        </div>
                        <div class="header__top__right__auth"> </div>
                        <div class="header__top__right__auth">
                            <a href="{% url 'user_app:logged_out' %}"><i class="fa fa-sign-out"></i>Logout</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'core_app:index' %}"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="{% url 'core_app:index' %}">Home</a></li>
                        <li><a href="{% url 'product_app:product' %}">Product</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{% url 'cart_app:cart_details' %}">Shoping Cart</a></li>
                                <li><a href="{% url 'order_app:checkout' %}">CheckOut</a></li>
                                <li><a href="{% url 'order_app:my_orders' %}">My Order List</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'core_app:fb_view' %}">Feedback</a></li>
                        <li><a href="{% url 'core_app:contacts' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>0</span></a></li>
                        <li><a href="{% url 'cart_app:cart_details' %}"><i class="fa fa-shopping-bag"></i> <span> {{request.session.cart.keys|length}}</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>
                                    {{request.session.cart.keys|length}}
                    </span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->