{% extends 'homepage/base.html' %} {% load static %} {% block title %}AHA | Product{% endblock %} {% block content %} {% include 'homepage/hero_section.html' %}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'homepage/img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>AHA Shop</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'core_app:index' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-7">

                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span><b> Sort By</b></span>
                                <form action="" method="get">



                                    <div class="list-inline-item">
                                        <select class="selectpicker ml-auto" name="sorting" data-width="200" data-style="bs-select-form-control" data-title="Phân loại">
                                            
                                              <option value="title" name ="sorting" {% if sorting == "title" %} selected{% endif %} >Name</option>
                                              <option value="low-high" name="sorting"{% if sorting == "low-high" %} selected{% endif %}>Price: Low To High</option>
                                          
                                              <option value="high-low" name="sorting"{% if sorting == "high-low" %} selected{% endif %}>Price: High To Low</option>
                                            
                                          
                                        </select>
                                    </div>
                                    <div class="list-inline-item">
                                        <input type="submit" value="Sort">
                                    </div>



                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>{{product_count}}</span> Products found</h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    {% if product_item %} {% for p in product_item %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{p.product_img.url }}">
                                <ul class="product__item__pic__hover">
                                    <li>
                                        <form method="POST" action="{% url 'cart_app:add' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="quantity" value="1" />
                                            <input type="hidden" name="product_id" value="{{ p.id }}" />
                                            <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{% url 'product_app:details' p.id %}">{{ p.title }}</a></h6>
                                <h5>{{ p.price }}VNĐ</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% endif %} {% if product_items and not product_item%} {% for p in product_items %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{p.product_img.url }}">
                                <ul class="product__item__pic__hover">

                                    <li>
                                        <form method="POST" action="{% url 'cart_app:add' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="quantity" value="1" />
                                            <input type="hidden" name="product_id" value="{{ p.id }}" />
                                            <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{% url 'product_app:details' p.id %}">{{ p.title }}</a></h6>
                                <h5>{{ p.price }}VNĐ</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% endif %}
                </div>

                <div class="row">
                    <div class="col-lg-12">

                        {% if product_items.has_other_pages and not product_item %}
                        <ul class="pagination" style="margin-left: 493px;">
                            {% if product_items.has_previous %}
                            <li><a class="pagination" style=" margin-top: 0px; margin-left :14px; border: 1px ridge #7fad39; size: 50px; padding: 20px;" href="?page={{ product_items.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li style="color: aliceblue;" class="disabled"><span>&laquo;</span></li>
                            {% endif %} {% for i in product_items.page_range %} {% if product_items.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %} {% endfor %} {% if product_items.has_next %}
                            <li style="size: 50px;"><a class="pagination" href="?page={{ product_items.next_page_number }}" style="margin-top: 0px; margin-left :21px; border: 1px ridge #7fad39; size: 50px; padding: 20px;">&raquo;</a></li>
                            {% else %}
                            <li style="color:antiquewhite ;" class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        {% endif %}

                    </div>
                </div>

</section>
<!-- Product Section End -->

{% endblock %}