<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Invoice Order - {{order.id}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>
    <div class="container my-4">
        <h2>Order ID - {{order.id}}</h2>
        <h4 class="mb-3">
            Customer - {{order.user.first_name|default:order.user.username}} {{order.user.last_name}}
        </h4>
        <h4 class="font-weight-light">{{order.address}}</h4>
        <h4 class="font-weight-light mb-3">{{order.city}}, {{order.credit_card}}</h4>
        <h5 class="font-weight-light mb-4">Placed on {{order.created}}</h5>
        <hr />
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <td>Product</td>
                    <td>Price</td>
                    <td>quantity</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody>
                {% for o in order.items.all %}
                <tr>
                    <td>{{o.product.title}}</td>
                    <td>{{o.product.price}}VNĐ</td>
                    <td>{{o.quantity}}</td>
                    <td>{{o.total}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td class="text-right">Total </td>
                    <td>
                        <b>{{order.total_price}}VNĐ</b>
                    </td>
                </tr>
            </tfoot>
        </table>
        <h5>
            Payment: {% if order.paid %}
            <span class="badge badge-success" style="background-color: #7fad39;">Paid</span> {% else %}
            <span class="badge badge-danger" style="background-color: #7fad39;">Not Paid</span> {% endif %}
        </h5>

        <h5>Status {{order.status}}</h5>
    </div>
    <footer class="text-center d-print-none">
        <button class="btn" onclick="window.print()" style="background-color: #7fad39; color:white;">Print </button>
        <button class="btn" onclick="history.back()" style="background-color: #7fad39; color:white;">Back</button>
    </footer>
</body>

</html>